<!-- FOOTER -->
<footer>
  <div class="uk-section uk-section-secondary">
    <div class="uk-container">
      <div class="uk-grid uk-grid-large" data-uk-grid>
        <div class="uk-width-1-2@m">
          {% if sidebar_footer_1 %}
          	{{sidebar_footer_1}}
          {% else %}
          	<p>Sidebar Footer 1</p>
          {% endif %}
        </div>
        <div class="uk-width-1-6@m">
          {% if sidebar_footer_2 %}
          	{{sidebar_footer_2}}
          {% else %}
          	<p>Sidebar Footer 2</p>
          {% endif %}
        </div>
        <div class="uk-width-1-6@m">
          {% if sidebar_footer_3 %}
          	{{sidebar_footer_3}}
          {% else %}
          	<p>Sidebar Footer 3</p>
          {% endif %}
        </div>
        <div class="uk-width-1-6@m">
          {% if sidebar_footer_4 %}
          	{{sidebar_footer_4}}
          {% else %}
          	<p>Sidebar Footer 4</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="uk-section uk-section-secondary darker uk-section-small uk-light">
    <div class="uk-container">
      {% if sidebar_footer %}
        {{sidebar_footer}}
      {% else %}
        <p>Main Sidebar Footer</p>
      {% endif %}
    </div>
  </div>
</footer>
<!-- /FOOTER -->
