{% if posts.pagination.pages is not empty %}
    <nav class="pagination-block uk-padding pagi">
        <ul class="uk-pagination uk-flex-center">

            {# Previous #}
            {% if posts.pagination.prev %}
                <li class="">
                    <a href="{{ posts.pagination.prev.link }}" class="prev"><i uk-icon="icon: chevron-left"></i> Previous</a>
                </li>
            {% endif %}

            {# Pages #}
            {% for page in posts.pagination.pages %}
                {% if page.link %}
                    <li>
                        <a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
                    </li>
                {% else %}
                    <li class="current">
                        <span class="{{ page.class }}">{{ page.title }}</span>
                    </li>
                {% endif %}
            {% endfor %}

            {# Next #}
            {% if posts.pagination.next %}
                <li class="">
                    <a href="{{ posts.pagination.next.link }}" class="next">Next <i uk-icon="icon: chevron-right"></i></a>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endif %}